@inherits Umbraco.Web.Mvc.UmbracoViewPage<SearchContentModel>
@using SgfDevs.Models;

@{
    Layout = null;
}

<section class="section">

    <div class="container">

        <div class="col-md-9">


            @if(Model.SearchResults != null && Model.SearchResults.Any())
            {
                <p>Your search for <strong>@Model.Query</strong> returned these results:</p>

                foreach(var item in Model.SearchResults)
                {
                    <p><a href="@item.Url()">@item.Name</a></p>
                }
            } else {
             <p>Your Search Returned No Results. Try again.</p>
            }
        </div>
    </div>

</section>