<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ebbc1cf1-d20b-40c5-9399-288ef86b93fc" Alias="searchResults" Level="1">
  <Info>
    <Name>Search Results</Name>
    <Icon>icon-search color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>SearchResults</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="82ccd94b-d601-4f63-a4de-b146b7239623">SearchResults</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>